<div class="col-md-4 col-md-offset-4">
<%if !(current_user.goals.empty?)%>
  <h2>Your Current Goals</h2>
  <ul>
  <%current_user.goals.each do |goal|%>
  <li><%=goal.name%></li><a href="/goals/<%=goal.id%>">See Goal</a>
    <%end%>
    <p><a class="btn btn-default" href="/goals/new">Set New Goal</a></p>
<%else%>
  <p>You don't have any goals!??</p>
  <p>C'mon son! <h2>Start Planning your next move!</h2></p>
  <a class="btn btn-default" href="/goals/new">Set New Goal</a>
<%end%>
</div>
