<div class="col-md-4 col-md-offset-4">
    <h3 >Sign Up!</h3>
  <form action="/signup" method="POST">
    <div class="form-group ">
      <label for="username">Choose Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>


    <div class="form-group ">
      <label for="email">Enter Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>


    <div class="form-group ">
      <label for="password">Create Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>


    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Sign Up">
  </div>
  </form>
</div>
